.ui.cards.cards-width .card {
  width: 190px;
}

.custom-overflow-hidden {
  overflow: hidden;
}

.custom-overflow-scroll {
  overflow: auto;
  height: 250px;
}

.custom-high {
  margin-top: 200px;
}

.custom-middle {
  margin-top: 100px;
}

.custom-low {
  margin-top: 50px;
}
